src/Infrastructure/Lib/citypaq/CorreospaqServiceService_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.correos.es/paq/correospaq/type" xmlns:tns="http://www.correos.es/paq/correospaq" version="1.0" targetNamespace="http://www.correos.es/paq/correospaq">

  <xs:import namespace="http://www.correos.es/paq/correospaq/type" schemaLocation="CorreospaqServiceService_schema1.xsd"></xs:import>

  <xs:element name="getCitypaqs" type="tns:getCitypaqs"></xs:element>

  <xs:element name="getCitypaqsResponse" type="tns:getCitypaqsResponse"></xs:element>

  <xs:element name="getFavorites" type="tns:getFavorites"></xs:element>

  <xs:element name="getFavoritesResponse" type="tns:getFavoritesResponse"></xs:element>

  <xs:element name="getStatesWithCitypaq" type="tns:getStatesWithCitypaq"></xs:element>

  <xs:element name="getStatesWithCitypaqResponse" type="tns:getStatesWithCitypaqResponse"></xs:element>

  <xs:element name="getUrl" type="tns:getUrl"></xs:element>

  <xs:element name="getUrlResponse" type="tns:getUrlResponse"></xs:element>

  <xs:element name="reservaHuecoOpExtOneClick" type="tns:reservaHuecoOpExtOneClick"></xs:element>

  <xs:element name="reservaHuecoOpExtOneClickResponse" type="tns:reservaHuecoOpExtOneClickResponse"></xs:element>

  <xs:element name="reservaHuecoOpExtTerceros" type="tns:reservaHuecoOpExtTerceros"></xs:element>

  <xs:element name="reservaHuecoOpExtTercerosResponse" type="tns:reservaHuecoOpExtTercerosResponse"></xs:element>

  <xs:complexType name="getStatesWithCitypaq">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStatesWithCitypaqResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:getStatesWithCitypaqResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provinciaDto">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidades" type="tns:localidadDto" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="localidadDto">
    <xs:sequence>
      <xs:element name="codigoMunicipio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="provincia" type="tns:provinciaDto" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CorreospaqWSException">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="errorCode" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCitypaqs">
    <xs:sequence>
      <xs:element name="stateCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCitypaqsResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:getCitypaqsResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="terminalDto">
    <xs:sequence>
      <xs:element name="alias" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="block" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="admissionType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="floor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="schedule" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="imagenFile" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="latitude_wgs84" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="longitude_wgs84" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="number" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="door" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="streetType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFavorites">
    <xs:sequence>
      <xs:element name="user" type="xs:string"></xs:element>
      <xs:element name="ip" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFavoritesResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:getFavoritesResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="favoritoWSDto">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="alias" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="block" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="defaultHomepaq" type="xs:boolean"></xs:element>
      <xs:element name="door" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="floor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="homepaqCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="homepaqType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="medidasTerminal" type="tns:listaMedidasWSDto" minOccurs="0"></xs:element>
      <xs:element name="number" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="streetType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listaMedidasWSDto">
    <xs:sequence>
      <xs:element name="medida" type="tns:medidaDto" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="medidaDto">
    <xs:sequence>
      <xs:element name="alto" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="ancho" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="codMedida" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idMedida" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="largo" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="pesoVol" type="xs:double" minOccurs="0"></xs:element>
      <xs:element name="terminalMedidas" type="tns:terminalMedidaDto" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="terminalMedidaDto">
    <xs:sequence>
      <xs:element name="codigoMedida" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idMedida" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="idTerminalMedida" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="medida" type="tns:medidaDto" minOccurs="0"></xs:element>
      <xs:element name="modelo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombreFabricante" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoTerminal" type="tns:tipoTerminalDto" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoTerminalDto">
    <xs:sequence>
      <xs:element name="modelo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombreFabricante" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="terminalMedidas" type="tns:terminalMedidaDto" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="favoritoCityPaqWSDto">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="admissionType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="alias" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="block" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="defaultCitypaq" type="xs:boolean"></xs:element>
      <xs:element name="door" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="floor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="latitude_wgs84" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="longitude_wgs84" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="number" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="schedule" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="streetType" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaHuecoOpExtTerceros">
    <xs:sequence>
      <xs:element name="codEntDirecta" type="xs:string"></xs:element>
      <xs:element name="codigoOperador" type="xs:string"></xs:element>
      <xs:element name="numContrato" type="xs:string"></xs:element>
      <xs:element name="numEtiquetador" type="xs:string"></xs:element>
      <xs:element name="envio" type="ns1:envioOpExtTercerosWSDto"></xs:element>
      <xs:element name="numCliente" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="comunEnvioParams">
    <xs:sequence>
      <xs:element name="codProducto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="datosDestinatario" type="ns1:datosDestinatarioDto" minOccurs="0"></xs:element>
      <xs:element name="datosRemitente" type="ns1:datosRemitenteDto" minOccurs="0"></xs:element>
      <xs:element name="dimensiones" type="ns1:dimensionesDto" minOccurs="0"></xs:element>
      <xs:element name="pesoReal" type="xs:int"></xs:element>
      <xs:element name="pesoVolumetrico" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaHuecoOpExtTercerosResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:reservaHuecoOpExtResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUrl">
    <xs:sequence>
      <xs:element name="user" type="xs:string"></xs:element>
      <xs:element name="operationType" type="xs:string"></xs:element>
      <xs:element name="urlCallBack" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="favorite" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="integrationMode" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUrlResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:getUrlResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaHuecoOpExtOneClick">
    <xs:sequence>
      <xs:element name="refTerminal" type="xs:string"></xs:element>
      <xs:element name="codigoOperador" type="xs:string"></xs:element>
      <xs:element name="numContrato" type="xs:string"></xs:element>
      <xs:element name="numEtiquetador" type="xs:string"></xs:element>
      <xs:element name="envio" type="ns1:envioOpExtOneClickWSDto"></xs:element>
      <xs:element name="numCliente" type="xs:string"></xs:element>
      <xs:element name="internalCall" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaHuecoOpExtOneClickResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:reservaHuecoOpExtResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>