src/Infrastructure/Lib/citypaq/CorreospaqServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.correos.es/paq/correospaq" xmlns:tns="http://www.correos.es/paq/correospaq/type" version="1.0" targetNamespace="http://www.correos.es/paq/correospaq/type">

  <xs:import namespace="http://www.correos.es/paq/correospaq" schemaLocation="CorreospaqServiceService_schema2.xsd"></xs:import>

  <xs:complexType name="getStatesWithCitypaqResponse">
    <xs:sequence>
      <xs:element name="states" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="state" type="ns1:provinciaDto" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCitypaqsResponse">
    <xs:sequence>
      <xs:element name="citypaq" type="ns1:terminalDto" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="token" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFavoritesResponse">
    <xs:sequence>
      <xs:element name="homepaqs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="homepaq" type="ns1:favoritoWSDto" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="citypaqs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="citypaq" type="ns1:favoritoCityPaqWSDto" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="token" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="envioOpExtTercerosWSDto">
    <xs:complexContent>
      <xs:extension base="ns1:comunEnvioParams">
        <xs:sequence>
          <xs:element name="codigoPaquete" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="datosDestinatarioDto">
    <xs:sequence>
      <xs:element name="apellidos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codPostal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comunicar" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="prefijo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="provincia" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="telefono" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datosRemitenteDto">
    <xs:sequence>
      <xs:element name="apellidos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codPais" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codPostal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="provincia" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="razonSocial" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dimensionesDto">
    <xs:sequence>
      <xs:element name="altura" type="xs:int"></xs:element>
      <xs:element name="anchura" type="xs:int"></xs:element>
      <xs:element name="longitud" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaHuecoOpExtResponse">
    <xs:sequence>
      <xs:element name="codPaqueteCorreos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigoError" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cpTerminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="direccionDos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="direccionTerminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idHueco" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idTerminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="localidadTerminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pinCliente" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pinRepartidor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoHueco" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUrlResponse">
    <xs:sequence>
      <xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="envioOpExtOneClickWSDto">
    <xs:sequence>
      <xs:element name="datosDestinatario" type="tns:datosDestinatarioOneClickDto" minOccurs="0"></xs:element>
      <xs:element name="datosRemitente" type="tns:datosRemitenteOneClickDto" minOccurs="0"></xs:element>
      <xs:element name="referenciaOperacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tallaHueco" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datosDestinatarioOneClickDto">
    <xs:sequence>
      <xs:element name="comunicar" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="prefijo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="telefono" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datosRemitenteOneClickDto">
    <xs:sequence>
      <xs:element name="razonSocial" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>